In [16]:
import pandas as pd 
df=pd.read_csv("nba_playerstats_2013.csv")
df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,22,TOR,29,0,342,42,75,...,0.816,30,47,77,11,13,15,17,53,116
1,2,Jeff Adrien,PF,26,CHA,52,5,713,72,168,...,0.650,68,128,196,36,18,27,32,80,209
2,3,Arron Afflalo,SF,27,ORL,64,64,2307,397,905,...,0.857,29,210,239,206,40,11,138,137,1057
3,4,Josh Akognon,PG,26,DAL,3,0,9,2,4,...,NaN,0,1,1,1,0,0,0,3,5
4,5,Cole Aldrich,C,24,TOT,45,0,388,44,80,...,0.600,30,90,120,9,5,23,23,60,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,406,Sebastian Telfair,PG,27,TOT,59,2,980,112,309,...,0.783,13,71,84,153,37,11,64,104,331
496,406,Sebastian Telfair,PG,27,PHO,46,2,795,94,247,...,0.772,12,56,68,114,28,10,53,84,275
497,406,Sebastian Telfair,PG,27,TOR,13,0,185,18,62,...,0.833,1,15,16,39,9,1,11,20,56
498,407,Garrett Temple,SG,26,WAS,51,36,1156,105,258,...,0.703,29,94,123,115,50,17,61,94,262
499,408,Jason Terry,SG,35,BOS,79,24,2124,281,648,...,0.870,19,140,159,198,66,11,102,110,799

In [56]:
df_clean= df.drop(["Age" , "Tm" , "GS" , "MP", "FG%", "3P", "3PA", "3P%", "2P" , "2PA", "2P%", "eFG%", "FT%",	"ORB","DRB", "PF", "Missed FG", "Player Efficiency" ], axis=1)
df_clean

,Rk,Player,Pos,G,FG,FGA,FT,FTA,TRB,AST,STL,BLK,TOV,PTS,Player Efficiency Rating
0,1,Quincy Acy,PF,29,42,75,31,38,77,11,13,15,17,116,6.034483
1,2,Jeff Adrien,PF,52,72,168,65,100,196,36,18,27,32,209,6.211538
2,3,Arron Afflalo,SF,64,397,905,191,223,239,206,40,11,138,1057,13.671875
3,4,Josh Akognon,PG,3,2,4,0,0,1,1,0,0,0,5,1.666667
4,5,Cole Aldrich,C,45,44,80,12,20,120,9,5,23,23,100,4.222222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,406,Sebastian Telfair,PG,59,112,309,54,69,84,153,37,11,64,331,5.762712
496,406,Sebastian Telfair,PG,46,94,247,44,57,68,114,28,10,53,275,6.000000
497,406,Sebastian Telfair,PG,13,18,62,10,12,16,39,9,1,11,56,4.923077
498,407,Garrett Temple,SG,51,105,258,26,37,123,115,50,17,61,262,6.705882
499,408,Jason Terry,SG,79,281,648,114,131,159,198,66,11,102,799,9.455696

In [57]:
df["Player Efficiency Rating"]= (( df["PTS"] + df["TRB"]+ df["AST"] + df["STL"] + df["BLK"] ) - (df["TOV"]+((df["FGA"]-df["FG"]))+(df["FTA"]-df["FT"])))/df["G"]

In [58]:
 df_top10_EFF=df_clean.nlargest(10, 'Player Efficiency Rating')
df_top10_EFF

,Rk,Player,Pos,G,FG,FGA,FT,FTA,TRB,AST,STL,BLK,TOV,PTS,Player Efficiency Rating
255,213,LeBron James,PF,76,765,1354,403,535,610,551,129,67,226,2036,32.184211
148,120,Kevin Durant,SF,81,731,1433,679,750,640,374,116,105,280,2280,30.395062
78,64,Kobe Bryant*,SG,78,738,1595,525,626,433,469,106,25,287,2133,24.628205
208,170,James Harden,SG,78,585,1337,674,792,379,455,142,38,295,2023,24.000000
307,257,David Lee,PF,79,602,1160,255,320,886,279,67,22,207,1459,23.835443
146,118,Tim Duncan*,C,69,490,976,245,300,686,184,50,183,147,1227,23.797101
409,334,Chris Paul,PG,70,412,856,286,323,262,678,169,10,159,1186,23.785714
240,198,Al Horford,C,74,576,1060,134,208,757,240,78,78,147,1289,23.472973
22,16,Carmelo Anthony,PF,67,669,1489,425,512,460,171,52,32,175,1920,23.179104
7,6,LaMarcus Aldridge,PF,74,638,1318,282,348,670,192,62,91,143,1560,22.783784

In [59]:
df_top10_EFF

,Rk,Player,Pos,G,FG,FGA,FT,FTA,TRB,AST,STL,BLK,TOV,PTS,Player Efficiency Rating
255,213,LeBron James,PF,76,765,1354,403,535,610,551,129,67,226,2036,32.184211
148,120,Kevin Durant,SF,81,731,1433,679,750,640,374,116,105,280,2280,30.395062
78,64,Kobe Bryant*,SG,78,738,1595,525,626,433,469,106,25,287,2133,24.628205
208,170,James Harden,SG,78,585,1337,674,792,379,455,142,38,295,2023,24.000000
307,257,David Lee,PF,79,602,1160,255,320,886,279,67,22,207,1459,23.835443
146,118,Tim Duncan*,C,69,490,976,245,300,686,184,50,183,147,1227,23.797101
409,334,Chris Paul,PG,70,412,856,286,323,262,678,169,10,159,1186,23.785714
240,198,Al Horford,C,74,576,1060,134,208,757,240,78,78,147,1289,23.472973
22,16,Carmelo Anthony,PF,67,669,1489,425,512,460,171,52,32,175,1920,23.179104
7,6,LaMarcus Aldridge,PF,74,638,1318,282,348,670,192,62,91,143,1560,22.783784

In [35]:
df_top10_EFF.describe()

,Rk,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player Efficiency
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.00000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.00000,10.000000,10.000000,10.000000,10.000000
mean,149.600000,28.200000,74.600000,74.600000,2734.200000,620.600000,1257.800000,0.495400,79.300000,215.80000,...,117.000000,461.300000,578.300000,359.300000,97.100000,65.10000,206.600000,166.500000,1711.300000,25.206160
std,105.403141,4.049691,4.671426,4.671426,332.683634,112.368639,237.240525,0.040495,72.228111,193.71732,...,62.494444,147.610636,190.410696,174.669243,41.358729,52.35021,61.874784,41.037246,411.334427,3.270568
min,6.000000,23.000000,67.000000,67.000000,2078.000000,412.000000,856.000000,0.438000,0.000000,4.00000,...,46.000000,209.000000,262.000000,171.000000,50.000000,10.00000,143.000000,110.000000,1186.000000,22.783784
25%,77.500000,26.250000,71.000000,71.000000,2550.500000,578.250000,1085.000000,0.467500,2.250000,8.75000,...,63.000000,336.250000,439.750000,204.000000,63.250000,26.75000,150.000000,143.000000,1331.500000,23.551158
50%,145.000000,27.500000,75.000000,75.000000,2833.500000,620.000000,1327.500000,0.493000,89.500000,243.00000,...,110.500000,504.000000,625.000000,326.500000,92.000000,52.50000,191.000000,168.000000,1740.000000,23.816272
75%,209.250000,28.750000,78.000000,78.000000,2965.500000,715.500000,1413.250000,0.516750,137.250000,388.75000,...,164.750000,562.000000,682.000000,465.500000,125.750000,87.75000,266.500000,184.750000,2032.750000,24.471154
max,334.000000,36.000000,81.000000,81.000000,3119.000000,765.000000,1595.000000,0.565000,179.000000,486.00000,...,218.000000,668.000000,886.000000,678.000000,169.000000,183.00000,295.000000,246.000000,2280.000000,32.184211